---
id: home
title: Just No Waste
banner_picture:  banner-home.jpg
banner_title: Make your event ZERO WASTE
banner_text: Just No Waste aide les organisateurs d'évènements à réduire simplement et efficacement les déchets de leurs manifestations.
banner_layout: content-center
banner_gradient: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
---
<div class="main-container">
  <div class="card-call text-center">
    <h2>Parlez-moi de votre évènement</h2>
    <%= mail_to 'info@justnowaste.ch', "Contacter", class: "btn-yellow"%>
  </div>
</div>

<div class="main-container padding-bottom">
  <h2 class="padding-bottom">5 bonnes raisons de réduire les déchets de votre manifestation</h2>
  <div class="cards cards-small">
    <% data.avantages.each do |f, avantage| %>
      <div class="card-verti text-center">
        <div class="picto">
          <%= avantage.icon %>
        </div>
        <div class="card-verti-infos">
          <div>
            <h3><%= avantage.titre %></h3>
            <p><%= avantage.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ruban ruban-yellow-oblic-left">
  <div class="main-container">
    <h2 class="padding-bottom">Les 3 piliers de la démarche No Waste</h2>
    <% data.piliers.each do |f, pilier| %>
      <div class="card-hori background-white">
        <div>
          <%= image_tag pilier.picture, :class => 'card-hori-pic' %>
        </div>
        <div class="card-hori-infos">
          <h3><%= pilier.titre %></h3>
          <p><%= pilier.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


