---
id: home
title: Just No Waste
banner_picture:  banner-home.jpg
banner_title: Make your event ZERO WASTE
banner_text: Just No Waste aide les organisateurs d'évènements à réduire simplement et efficacement les déchets de leurs manifestations.
banner_layout: content-center
banner_gradient: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
---
<div class="main-container">
  <div class="card-call text-center">
    <h2>Parlez-moi de votre évènement</h2>
    <%= mail_to 'info@justnowaste.ch', "Contacter", class: "btn-yellow"%>
  </div>
</div>
<div class="main-container cards">
  <div class="card-verti">
    <div class="frame">
      <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg', class: 'card-verti-pic img-framed' %>
    </div>
    <div class="card-verti-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
  <div class="card-verti">
    <div class="frame">
      <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg', class: 'card-verti-pic img-framed' %>
    </div>
    <div class="card-verti-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
  <div class="card-verti">
    <div class="frame">
      <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg', class: 'card-verti-pic img-framed' %>
    </div>
    <div class="card-verti-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
  <div class="card-verti">
    <div class="frame">
      <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg', class: 'card-verti-pic img-framed' %>
    </div>
    <div class="card-verti-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
  <div class="card-verti">
    <div class="frame">
      <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg', class: 'card-verti-pic img-framed' %>
    </div>
    <div class="card-verti-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>

